<form id="form" action="/signup" method="POST">
   <label for="username">Username</label><br>
   <input id = "username" type="text" name="username"
     placeholder="Smitty Werbenjagermanjensen">

   <br><br>
   <label for="password">Password</label><br>
   <input type="password" name="password"
     placeholder="NoThisIsPatrick">
   <br><br>

   <button>Create account</button>
 </form>
